body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    font-family: "Roboto";
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
    height: 350px;
}
.header-top{
    display: flex;
    justify-content: space-around;
    margin: 10px;

}
.header-lower{
    display: flex;
    justify-content: space-around;
}
.left-header{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

ui{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}
.placeholder{
    background-color: gray;
    margin-right: 40px;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texts{
    font-size: 14px;
    color: #E5E7EB;
}
.button{
    background-color: #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}
.info-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.box{
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}
.info-main{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}
.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    gap: 10px;
}
.info-text{
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    display: flex;
    justify-content: center;
}


.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}
.quote-text{
    width: 800px;
    padding: 0px 200px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
}
.quoter{
    display: flex;
    font-weight: 800;
    font-size: 24px;
    justify-content: flex-end;
    margin-right: 300px;
}
.footer{
    background-color: #1F2937;
    font-family: "Roboto";
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

